 <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/user', user: @user %>
        <%= render 'books/new_book', book: @book %>
      </div>
      <div class="col-md-8 offset-md-1">

      <h1>Book detail</h1>
        <table class="table">
          <tr>
            <td> <%= image_tag @book_detail.user.get_profile_image(100,100) %><br>
                 <%= link_to user_path(@book_detail.user_id) do %>
                   <%= @book_detail.user.name %>
                 <% end %></td>
            <td><%= link_to user_path(@book_detail.id) do %>
                  <%= @book_detail.title %>
                <% end %></td>
            <td><%=@book_detail.body %></td>
            <% if @book_detail.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book_detail.id), class: "btn btn-success btn-sm" %></td>
              <td><%= link_to "Destroy", book_path(@book_detail.id), method: :delete, class: "btn btn-danger btn-sm", "data-confirm" => "本当に消しますか？" %></td>
            <% end %>
        </table>
      </div>
    </div>
  </div>